/* General Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    background-color: #52C6BC; 
    color: #0A090C;
}

/* Header Styles */
h1, h2, h3, h4, h5 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Wrapper Styling */
.wrapper {
    width: 75%;
    background-color: #F0EDEE;
    margin: 0 auto;
    padding: 3.5rem;
    border-radius: 2px;
    box-shadow: 3px -3px 9px #F0EDEE;
}

/* Navigation Styles */
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #52C6BC;
}

nav ul li a {
    color: #F0EDEE;
    text-decoration: none;
    font-weight: 900;
    background-color: hotpink;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0A090C;
    color: lightblue;
}

/* Header Styles */
header {
    background-color: #07393C;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 35px;
    color: hotpink;
}

header p {
    font-size: 18px;
    color: #0A090C;
    font-weight: 800;
}

/* Section Styles */
section {
    padding: 20px;
    background-color: #F0EDEE; 
}

section h2, section h3 {
    color: #07393C;
}

section p, section ol, section ul {
    color: #0A090C;
}

/* List Styles */
ol, ul {
    margin-left: 20px;
}

/* Image Gallery Grid */
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #F0EDEE; 
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#gallery img:hover {
    filter: brightness(0.9);
}

/* Footer Styles */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #gallery {
        grid-template-columns: 1fr;
    }
}
